html,
body {
 text-align: center;
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue',
   sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 background-color: #f5f7f1;
}

.logo-img {
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}


@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../vendor/fonts/Inter/Inter-Regular.woff) format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
